{# ------------------------------------------------------- #}
{# ONE OFF VIEW privacypolicy #}
{# This page can use any data from http:localhost:2000/cms/#/form/privacypolicy/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# You can copy/paste this line to any page on your site to access the privacypolicy data. #}
{% set item = get('privacypolicy') %}
{# This sets our page <title>. It will append this privacypolicy's name to the site title defined in base.html #}
{% block title %}{% parent %} - Privacy Policy{% endblock %}
{% block content %}

<section class="content" id="storyContent">
  <article>
    <h1>Privacy Policy</h1>
    <p>{{ sitedata.privacy_policy|safe }} </p>
    <p>Questions? <a href="mailto:{{ sitedata.email|safe }}">Contact us.</a></p>
    <p class="dates">last updated: {{ item.last_updated|date('F d, Y @ g:i a') }}</p>
  </article>



{% endblock %}
